#facebooklink {
  background-image: url(../media/facebaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#facebooklink:hover {
  background-image: url(../media/facecolor.png);
  width: 37px;
  height: 37px;
}

#messengerlink {
  background-image: url(../media/messbaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#messengerlink:hover {
  background-image: url(../media/messcolor.png);
  width: 37px;
  height: 37px;
}

#instagramlink {
  background-image: url(../media/instabaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#instagramlink:hover {
  background-image: url(../media/instacolor.png);
  width: 37px;
  height: 37px;
}

#maillink {
  background-image: url(../media/mailbaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#maillink:hover {
  background-image: url(../media/mailcolor.png);
  width: 37px;
  height: 37px;
}

#phonelink {
  background-image: url(../media/phonebaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#phonelink:hover {
  background-image: url(../media/phonecolor.png);
  width: 37px;
  height: 37px;
}

/* Tooltip Popup Facebook */
.tooltip .tooltiptextfacebook {
  visibility: hidden;
  width: 180px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  bottom: 11%;
  left: 34%;
}
.tooltip:hover .tooltiptextfacebook {
  visibility: visible;
}

/* Tooltip Popup Messenger */
.tooltip .tooltiptextmessenger {
  visibility: hidden;
  width: 195px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  bottom: 11%;
  left: 36.5%;
}
.tooltip:hover .tooltiptextmessenger {
  visibility: visible;
}

/* Tooltip Popup Instagram */
.tooltip .tooltiptextinstagram {
  visibility: hidden;
  width: 190px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  bottom: 11%;
  left: 39.5%;
}

.tooltip:hover .tooltiptextinstagram {
  visibility: visible;
}

/* Tooltip Popup Mail */
.tooltip .tooltiptextmail {
  visibility: hidden;
  width: 100px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  bottom: 11%;
  left: 45.8%;
}

.tooltip:hover .tooltiptextmail {
  visibility: visible;
}

.tooltip .tooltiptextcall {
  visibility: hidden;
  width: 170px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  bottom: 11%;
  left: 46.6%;
}

.tooltip:hover .tooltiptextcall {
  visibility: visible;
}