#facebooklink {
  background-image: url(../media/facebaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#facebooklink:hover {
  background-image: url(../media/facecolor.png);
  width: 37px;
  height: 37px;
}

#messengerlink {
  background-image: url(../media/messbaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#messengerlink:hover {
  background-image: url(../media/messcolor.png);
  width: 37px;
  height: 37px;
}

#instagramlink {
  background-image: url(../media/instabaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#instagramlink:hover {
  background-image: url(../media/instacolor.png);
  width: 37px;
  height: 37px;
}

#twitterlink {
  background-image: url(../media/twitterbaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#twitterlink:hover {
  background-image: url(../media/twittercolor.png);
  width: 37px;
  height: 37px;
}

#phonelink {
  background-image: url(../media/phonebaw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  padding-left: 10px;
  width: 37px;
  height: 37px;
}
#phonelink:hover {
  background-image: url(../media/phonecolor.png);
  width: 37px;
  height: 37px;
}
